<% include  ./partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top atached">
            <div class="item">
                 <img src="<%= blog.image %>" class="ui centered rounded image">
                 <div class="content">
                     <span> <%=blog.created.toDateString() %> </span>
                 </div>
                 <div class="description">
                      <p> <%= blog.body %> </p>   
                 </div>
                 <a class="ui green inverted button" href="/blogs/<%= blog.id %>/edit">Edit</a>
                 <form id="deleteF" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                     <button class="ui red inverted button">Delete</button>
                 </form>
            </div>
        </div>    
</div>

<% include  ./partials/footer.ejs %>